body {
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background: orange;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background: #f2f2f2;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

button {
    background: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.pizza {
    display: inline-block;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.pizza img {
    width: 100%;
    border-radius: 8px;
}

.price {
    color: orange;
    font-weight: bold;
}

footer {
    background: orange;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.pizza img:hover {
   opacity: 1;
   border: 6px solid rgba(255, 183, 0, 0.499);
   width: 250px; 
   height: 260px;
   padding: 5px; 
   transition: 0.5s ease-out; 
}

a {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid rgb(246, 136, 52);
    background-color: rgb(255, 194, 101);
    padding: 10px;
    color: limegreen;
    border-radius: 10px;
}

a:hover {
   background-color: rgb(255, 170, 0);
   transition: 1s linear;
}
